@import './font.css';




html {
    color: #fff;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 5rem;
    background-color: darkblue;
    text-align: left;
    padding-left: 40%;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: auto;
}

article {
    grid-column-start: 2;
    background-color: darkturquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-row {
    height: 25%;
    display: flex;
    justify-content: center;
}

.box {
    flex: 1;
    border: 1px solid #fff;
}

.box:hover {
    background-color: #fff;
    box-shadow: 0 0 1px 3px #fff;
    cursor: pointer;
}



aside {
    background-color:  darkcyan;
}

ul {
    grid-column-start: 1;
    
}

li {

}

footer {
    background-color: darkblue;
    min-height: 5rem;
    margin-top: auto;
}