@import './accents.css';
@import './font.css';

:root {
    --asideWidth: 40%;
    --articleWidth: 45%;
  }
  

html {
    color: #fff;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

header {
    min-height: 6rem;
    background-color: darkblue;
    text-align: left;
    padding: 0 15% 0 var(--asideWidth);
    border-bottom-right-radius: 15%;

}

main {
    flex: 1;
    display: grid;
    grid-template-columns: var(--asideWidth) var(--articleWidth);
    min-height: auto;
}

article {
    grid-column-start: 2;
    background-color: darkturquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.box-row {
    height: 25%;
    display: flex;
    justify-content: center;
}

.box {
    flex: 1;
    border: 1px solid #fff;
}

.box:hover {
    background-color: #fff;
    box-shadow: 0 0 1px 3px #fff;
    cursor: pointer;
}

.trigger {
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    position: absolute;
    left: -3rem;
    bottom: -3rem;

    border-radius: 50%;
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.trigger:hover {
    transform: scale(7) translate(0, -50%);

}

.trigger-icon {
    height: 6rem;
    width: 6rem;
}

aside {
    grid-column-start: 1;
    background-color:  darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

ul {
    max-width: 75%;
}

li {

}

footer {
    border-top-right-radius: 15%;
    background-color: darkblue;
    min-height: 12rem;
    margin-top: auto;
}